################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BraviChessReact.Test/bin/Debug/netcoreapp2.1
/BraviChessReact.Test/obj
/packages
